/* NavbarStyles.css */
.NavbarItems {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: fixed; /* Fix the navbar at the top of the page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure the navbar is above other content */
  }

  .content-container {
    margin-top: 80px; /* Adjust as needed to provide space for the fixed navbar */
  }
  
  .logo {
    color: white;
    font-size: 24px;
  }
  
  .menu-icons {
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add some margin to the right side of the menu */
  }
  
  .nav-menu li {
    margin: 0 15px;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-menu li a:hover {
    color: #ff9800;
  }
  
  /* Media query for mobile */
/* Media query for mobile */
@media screen and (max-width: 850px) {
    .nav-menu {
      display: none;
    }
  
    .menu-icons {
      display: block;
      margin-right: 20px;
    }
  
    .nav-menu.active {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
      position: fixed; /* Change to fixed positioning */
      top: 60px;
      left: 0;
      z-index: 99;
      padding: 20px 0;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
    .nav-menu li {
      margin: 10px 0;
      text-align: center;
    }
  
    /* Add this rule to push down content below the fixed navbar */
    .content-container {
      margin-top: 80px; /* Adjust as needed */
    }
}  